<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui"
	xmlns:sec="http://www.springframework.org/security/tags" template="/WEB-INF/template.xhtml">

	<ui:define name="content">

		<p:panel widgetVar="panelPosts">
			<p:panel widgetVar="formPosts">
				<p:panelGrid columns="2">
					<p:outputLabel value="Titulo" />
					<p:inputText id="txtTitle" value="#{postBean.description}" />
					<p:outputLabel value="Descricao" />
					<p:inputTextarea id="txtDescription" value="#{postBean.post}" cols="20" rows="5"
						rendered="#{sec:areAnyGranted('OPPORTUNITY')}" />
				</p:panelGrid>
			</p:panel>
		</p:panel>
	</ui:define>


</ui:composition>