<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Basico jsf</title>
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
	</f:facet>
	<h:outputStylesheet name="css/animate.css" library="omega-layout" />
	<h:outputStylesheet name="css/grid.css" library="omega-layout" />
	<h:outputStylesheet name="css/nanoscroller.css" library="omega-layout" />
	<h:outputStylesheet name="css/layout.css" library="omega-layout" />

	<ui:insert name="head" />
</h:head>

<h:body styleClass="main-body">
	<div class="wrapper">
		<h:form id="form" prependId="false">
			<h:panelGroup layout="block" id="mainContent" class="main">
				<p:messages id="messages" showDetail="false" autoUpdate="true" closable="true" />
				<ui:insert name="content" />
			</h:panelGroup>
		</h:form>
	</div>
	<h:outputScript name="js/nanoscroller.js" library="omega-layout" />
	<h:outputScript name="js/layout.js" library="omega-layout" />
</h:body>

</html>